# **Lending Club Credit Risk Model**

In [2]:
# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import regex as re
from LC_library import *

# Settings 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_info_rows', 30)
#pd.options.display.max_rows = None

# 1. Exploratory data analysis

## 1.1 Import data

In [3]:
# Import Lending club data
df_loans = pd.read_csv('DATA/loan_data_2007_2014.csv', index_col=0, dtype={'desc': object, 'purpose': object} )

# Create a backup with the original dataframe
df_backup = df_loans.copy()

## 1.2 Define columns
The file LCDataDictionay.xlsx contains the description of the 78 variables that the dataset contains.

In [4]:
df_loans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 466285 entries, 0 to 466284
Data columns (total 74 columns):
 #   Column                       Dtype
---  ------                       -----
 0   id                           int64
 1   member_id                    int64
 2   loan_amnt                    int64
 3   funded_amnt                  int64
 4   funded_amnt_inv              float64
 5   term                         object
 6   int_rate                     float64
 7   installment                  float64
 8   grade                        object
 9   sub_grade                    object
 10  emp_title                    object
 11  emp_length                   object
 12  home_ownership               object
 13  annual_inc                   float64
 14  verification_status          object
 15  issue_d                      object
 16  loan_status                  object
 17  pymnt_plan                   object
 18  url                          object
 19  desc                         object
 20  purpose                      object
 21  title                        object
 22  zip_code                     object
 23  addr_state                   object
 24  dti                          float64
 25  delinq_2yrs                  float64
 26  earliest_cr_line             object
 27  inq_last_6mths               float64
 28  mths_since_last_delinq       float64
 29  mths_since_last_record       float64
 30  open_acc                     float64
 31  pub_rec                      float64
 32  revol_bal                    int64
 33  revol_util                   float64
 34  total_acc                    float64
 35  initial_list_status          object
 36  out_prncp                    float64
 37  out_prncp_inv                float64
 38  total_pymnt                  float64
 39  total_pymnt_inv              float64
 40  total_rec_prncp              float64
 41  total_rec_int                float64
 42  total_rec_late_fee           float64
 43  recoveries                   float64
 44  collection_recovery_fee      float64
 45  last_pymnt_d                 object
 46  last_pymnt_amnt              float64
 47  next_pymnt_d                 object
 48  last_credit_pull_d           object
 49  collections_12_mths_ex_med   float64
 50  mths_since_last_major_derog  float64
 51  policy_code                  int64
 52  application_type             object
 53  annual_inc_joint             float64
 54  dti_joint                    float64
 55  verification_status_joint    float64
 56  acc_now_delinq               float64
 57  tot_coll_amt                 float64
 58  tot_cur_bal                  float64
 59  open_acc_6m                  float64
 60  open_il_6m                   float64
 61  open_il_12m                  float64
 62  open_il_24m                  float64
 63  mths_since_rcnt_il           float64
 64  total_bal_il                 float64
 65  il_util                      float64
 66  open_rv_12m                  float64
 67  open_rv_24m                  float64
 68  max_bal_bc                   float64
 69  all_util                     float64
 70  total_rev_hi_lim             float64
 71  inq_fi                       float64
 72  total_cu_tl                  float64
 73  inq_last_12m                 float64
dtypes: float64(46), int64(6), object(22)
memory usage: 266.8+ MB

# 2. Data preprocessing

**Variables to use**
- annual_inc
- delinq_2yrs
- inq_last_6_mths
- open_acc
- pub_rec
- total_acc
- acc_now_delinq
- total_rev_hi_lim 
- emp_lenght
- mths_since_earliest_cr_line

## 2.1 Missing Values

In [5]:
pd.options.display.max_rows = None
df_loans.isna().sum().sort_values(ascending=False)

inq_last_12m                   466285
verification_status_joint      466285
open_acc_6m                    466285
open_il_6m                     466285
open_il_12m                    466285
open_il_24m                    466285
mths_since_rcnt_il             466285
dti_joint                      466285
total_bal_il                   466285
annual_inc_joint               466285
il_util                        466285
open_rv_12m                    466285
open_rv_24m                    466285
max_bal_bc                     466285
all_util                       466285
inq_fi                         466285
total_cu_tl                    466285
mths_since_last_record         403647
mths_since_last_major_derog    367311
desc                           340302
mths_since_last_delinq         250351
next_pymnt_d                   227214
tot_coll_amt                    70276
tot_cur_bal                     70276
total_rev_hi_lim                70276
emp_title                       27588
emp_length                      21008
last_pymnt_d                      376
revol_util                        340
collections_12_mths_ex_med        145
last_credit_pull_d                 42
open_acc                           29
pub_rec                            29
total_acc                          29
inq_last_6mths                     29
earliest_cr_line                   29
delinq_2yrs                        29
acc_now_delinq                     29
title                              20
annual_inc                          4
collection_recovery_fee             0
application_type                    0
policy_code                         0
last_pymnt_amnt                     0
id                                  0
recoveries                          0
pymnt_plan                          0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
grade                               0
sub_grade                           0
home_ownership                      0
verification_status                 0
issue_d                             0
loan_status                         0
url                                 0
total_rec_late_fee                  0
purpose                             0
zip_code                            0
addr_state                          0
dti                                 0
revol_bal                           0
initial_list_status                 0
out_prncp                           0
member_id                           0
total_pymnt                         0
total_pymnt_inv                     0
total_rec_prncp                     0
total_rec_int                       0
out_prncp_inv                       0
dtype: int64

## 2.2 Date columns

The dataset contains a few columns that represent dates that come in a string format (e.g Jan-15: January 2015). We are converting them to date format and getting a few months since information. 

Since a lot of the data goes back to the 60's and datetime starts in the 70s data before 1970 is getting wrongly map to year 2060s, creating negative values for these observations. 

To solve this we are going to assign the MAX value to all negative observations.

In [6]:
# List of date columns
date_cols = ['earliest_cr_line', 'issue_d', 'next_pymnt_d']

# Creating days since
today = pd.Timestamp('2017-12-01')

# Run process date from LC_library 
for col in date_cols:
    process_date(df_loans, col, today)


# Substitute negative values with max months
df_loans['months_since_earliest_cr_line'] = df_loans['months_since_earliest_cr_line'].apply(lambda x: x if float(x) > 0 
                                                                                            else df_loans['months_since_earliest_cr_line'].max())

df_loans[['earliest_cr_line_date', 'months_since_earliest_cr_line', 'issue_d_date', 'months_since_issue_d']].head()

,earliest_cr_line_date,months_since_earliest_cr_line,issue_d_date,months_since_issue_d
0,1985-01-01,395.0,2011-12-01,72
1,1999-04-01,224.0,2011-12-01,72
2,2001-11-01,193.0,2011-12-01,72
3,1996-02-01,262.0,2011-12-01,72
4,1996-01-01,263.0,2011-12-01,72

## 2.3 emp_lenght

In [7]:
# Check for all unique values of the column
print(df_loans['emp_length'].unique())

# Replace strings 
df_loans['emp_length_int'] = df_loans['emp_length'].str.replace('\+ years', '', regex=True)
df_loans['emp_length_int'] = df_loans['emp_length_int'].str.replace('< 1 year', '0', regex=True)
df_loans['emp_length_int'] = df_loans['emp_length_int'].str.replace('years', '', regex=True)
df_loans['emp_length_int'] = df_loans['emp_length_int'].str.replace('year', '', regex=True)

# Convert to numeric
df_loans['emp_length_int'] = pd.to_numeric(df_loans['emp_length_int'])

# Check values
print(df_loans['emp_length_int'].unique())

['10+ years' '< 1 year' '1 year' '3 years' '8 years' '9 years' '4 years'
 '5 years' '6 years' '2 years' '7 years' nan]
[10.  0.  1.  3.  8.  9.  4.  5.  6.  2.  7. nan]

## 2.4 term

In [8]:
# Original values contain month
df_loans['term'].unique()

# Replace months with blank
df_loans['term_int'] = df_loans['term'].str.replace(' months', '').str.replace(' ', '')

# Convert to numeric
df_loans['term_int'] = df_loans['term_int'].astype(int)

df_loans['term_int'].unique()

array([36, 60])

## 2.5 Create dummy variables for categorical columns:
- *grade*
- *sub_grade*
- *home ownership*
- *verification_status*
- *loan_status*
- *purpose*
- *addr_state*
- *initial_list_status*

In [9]:
# Grade dummies
dummies =[pd.get_dummies(df_loans['grade'], prefix='grade', prefix_sep='_'),
                pd.get_dummies(df_loans['sub_grade'], prefix='sub_grade', prefix_sep='_'),
                pd.get_dummies(df_loans['home_ownership'], prefix='home_ownership', prefix_sep='_'),
                pd.get_dummies(df_loans['verification_status'], prefix='verification_status', prefix_sep='_'),
                pd.get_dummies(df_loans['loan_status'], prefix='loan_status', prefix_sep='_'),
                pd.get_dummies(df_loans['purpose'], prefix='purpose', prefix_sep='_'),
                pd.get_dummies(df_loans['addr_state'], prefix='addr_state', prefix_sep='_'),
                pd.get_dummies(df_loans['initial_list_status'], prefix='initial_list_status', prefix_sep='_'),
                
                ]
loan_dummies = pd.concat(dummies, axis=1)

# Add dummies to main dataframe
loan_dummies = pd.concat([df_loans, loan_dummies], axis=1)

## 2.6 Checking for missing values

In [12]:
pd.options.display.max_rows = None
df_loans.isnull().sum().sort_values(ascending=False)

max_bal_bc                       466285
dti_joint                        466285
open_il_24m                      466285
open_acc_6m                      466285
mths_since_rcnt_il               466285
total_bal_il                     466285
il_util                          466285
verification_status_joint        466285
open_rv_12m                      466285
open_rv_24m                      466285
open_il_12m                      466285
all_util                         466285
inq_fi                           466285
open_il_6m                       466285
total_cu_tl                      466285
inq_last_12m                     466285
annual_inc_joint                 466285
mths_since_last_record           403647
mths_since_last_major_derog      367311
desc                             340302
mths_since_last_delinq           250351
months_since_next_pymnt_d        227214
next_pymnt_d_date                227214
next_pymnt_d                     227214
total_rev_hi_lim                  70276
tot_coll_amt                      70276
tot_cur_bal                       70276
emp_title                         27588
emp_length                        21008
emp_length_int                    21008
last_pymnt_d                        376
revol_util                          340
collections_12_mths_ex_med          145
last_credit_pull_d                   42
acc_now_delinq                       29
delinq_2yrs                          29
total_acc                            29
pub_rec                              29
open_acc                             29
inq_last_6mths                       29
earliest_cr_line                     29
earliest_cr_line_date                29
title                                20
annual_inc                            4
application_type                      0
months_since_earliest_cr_line         0
policy_code                           0
issue_d_date                          0
months_since_issue_d                  0
id                                    0
total_rec_int                         0
last_pymnt_amnt                       0
url                                   0
loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
home_ownership                        0
verification_status                   0
issue_d                               0
loan_status                           0
pymnt_plan                            0
purpose                               0
collection_recovery_fee               0
zip_code                              0
addr_state                            0
dti                                   0
revol_bal                             0
initial_list_status                   0
out_prncp                             0
out_prncp_inv                         0
total_pymnt                           0
total_pymnt_inv                       0
total_rec_prncp                       0
member_id                             0
total_rec_late_fee                    0
recoveries                            0
term_int                              0
dtype: int64